.video__icon-play{
    position: absolute;
    top: 30px;
    left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 374px){
    .video__icon-play{
        top: 16px;
        left: 16px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px){
    .video__icon-play{
        left: 24px;
        top: 24px;
    }
}